# Build do .NET
bin/
obj/

# Arquivos do sistema Mac
.DS_Store

# Arquivo local de dados
contas.json

# Configurações locais do VS Code
.vscode/

# Arquivos temporários
*.tmp
*.log

# User-specific files do Visual Studio/.NET
*.user
*.suo
*.rsuser